html {
    background-color: rosybrown;
}
body {
/*    width: 600px;*/
}
h1 {
    color:blue;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}
h2 {
    font-size: 14px;
}
p {
    font-size: 12px;
    color:yellow;
    background-color: red;
    line-height: 2;
    letter-spacing: 1px;
}
img {
    border: 2px dotted red;
    display: block;
    margin: 0 auto;
}
